div(class='panel panel-primary')
  div(class='panel-heading') Profile
  if user
    div(class='panel-body')
      h2 #{user.displayName}
        span(class='pull-right gold') Over 9000<span class='glyphicon glyphicon-registration-mark gold'></span>
    ul(class='list-group')
      li(class='list-group-item') Email: #{user.email}
      li(class='list-group-item') Display Name: #{user.displayName}
      li(class='list-group-item') First Name: #{user.firstName}
      li(class='list-group-item') Last Name: #{user.lastName}
